.origin {
    position: relative;
}

.infoBox {
    position:absolute;
	z-index:1000;
    display: none;
    font-size: 12px;
    background-color: 	#A9A9A9;
    color:  #FFFFFF;
    border-style: solid;
    border-color: #696969;
    border-width: 2px;
    -moz-border-radius:5px;
	-khtml-border-radius:5px;
}