#viewgenerator_header #Oryx_logo, #oryx_editor_header a {
	background:transparent url(oryx.png) no-repeat scroll 0 0 !important;
	height:32px !important;
	right:15px !important;
	margin-top:0 !important;
	position:absolute;
	top:0 !important;
	width:71px !important;
	z-index:1000;
}

.upper {
	background:transparent url(header.png) repeat-x scroll center top;
	width:100%;
	height:10px;
	position:absolute;
    margin-left:-8px;
	top:0px;
	z-index:1001;
}

.lower {
	background:transparent url(header.png) repeat-x scroll center bottom;
	width:100%;
	height:10px;
	position:relative;
    margin-top:-8px;
    margin-left:-8px;
	top:0px;
	z-index:1000;
}

.linkLineElement {
    margin-top: 3px;
    margin-left: 15px;
}

