<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="oryx" version="2.4">

	<display-name>Oryx Editor</display-name>

	<!-- the number within the session-timout element must be expressed in
		minutes. it is now 24 hours. -->
	<session-config>
		<session-timeout>1440</session-timeout>
	</session-config>

	<servlet>
		<display-name>XML Echo Servlet</display-name>
		<servlet-name>Echo</servlet-name>
		<servlet-class>
			Echo
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Echo</servlet-name>
		<url-pattern>/echo</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>/login.html</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/c.tld</taglib-location>
		</taglib>
	</jsp-config>

	<!--
		jBoss' default mapping is to "image/svg", which causes the client not to
		parse the SVG content as XML. However, the Oryx Editor client relies on
		that behaviour. The mimetype as per W3C specification must be
		"image/svg+xml". See http://www.w3.org/TR/SVG/intro.html#MIMEType.
	-->
	<mime-mapping>
		<extension>svg</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>json</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	
	<!-- Set Favourites Icon MIME-Type --> 
	<mime-mapping>
	    <extension>ico</extension>
	    <mime-type>image/x-icon</mime-type>
	</mime-mapping>

</web-app>
